a button{
    cursor: pointer;
}

.mid{
    padding: 50px;
    background-color: hsl(255, 11%, 22%);
    background-position: cover;
    /* background-repeat: no-repeat; */
    margin: 50px 40px 0;
    border-radius: 10px;
}

div .two{
    background: linear-gradient(to bottom,white 00px, hsl(0, 4%, 91%) 100px, hsl(0, 4%, 91%));
    padding: 0 0 50px;
}

form{
    display: flex;
    margin: auto;
    justify-content: center;
}

form input {
    padding: 20px 25vw;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 18px;
}

::placeholder{
    text-align: center;
}


form button{
    padding: 20px 3vw;
    color: white;
    font-size: 18px;
    background-color: hsl(180, 66%, 49%);
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 930px){
    form input {
        padding: 20px 17vw;
    }
}

@media screen and (max-width: 630px) {
    form{
        flex-direction: column;
    }
    form input {
        padding: 20px ;
        margin: 0 0  10px 0;
    }

    form button {
        padding: 20px ;    
    }
}